/* CSS files add styling rules to your content */
*{
  margin: 0px;
  padding: 10px;
}
body {
  background-color: #ff9999;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #ffffff;
}

h2 {
  margin-top: 2em; 
}

.question {
  display: flex;
  margin-top: 2em;
}
  
.answer-choice img {
  height: 10em;
}

.question{
  display: flex;
  column-reverse
  
}
