/* CSS files add styling rules to your content */
*{
  margin: 0px;
  padding: 10px;
}
body {
  background-color: #ff9999;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #ffffff;
}

h2 {
  margin-top: 2em; 
}

p{
  color: #ffffff;
}
.question {
  display: flex;
  margin-top: 2em;
}
  
.answer-choice img {
  height: 10em;
}

.question{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 3;
}

.answer-choice{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 5;
}

.result{
  display: flex;
  flex-direction:;
  justify-content:;
  flex-grow:;
    
}
